<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bots</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="theme-color" content="#d44444" />
    <meta name="description"
        content="Un simple Bot de Discord que facilita información obtenida de diferentes APIs de Chile, meteorología, sismología entre otros." />
</head>

<body>
    <div class="c-b">
        <header class="nav-b">
            <nav class="navbar">
                <ul>
                    <li><a href="https://github.com/basmonje/discord-bot" target="__black">Github</a></li>
                </ul>
            </nav>
        </header>

        <main class="contenedor">
            <section class="section-basic">
                <div class="text-basic">
                    <h1>Discord Bot</h1>
                    <p>Un simple Bot de Discord que facilita información obtenida de diferentes APIs de Chile,
                        meteorología, sismología entre otros. </p>
                </div>
            </section>
        </main>

    </div>
</body>

</html>